<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{node.metadata.label}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <style type="text/css">
    .dl-horizontal dt {
        float: left;
        width: 100px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 120px;
    }
    </style>
</head>
<body>
<div class="container">
    <h1>{{node.metadata.label}} <small class="text-muted">{{node.component}}</small></h1>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <p><i class="fa fa-3x pull-left fa-border fa-{{component.icon}}" aria-hidden="true"></i>{{component.description}}</p>
        </div>
        <div class="col-md-4">
            <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {{#each component.inPorts}}
            {{#if name}}
                <tr>
                    <td class="text-uppercase">&rarr; {{name}}</td>
                    <td>{{description}}</td>
                </tr>
            {{/if}}
            {{/each}}
            </tbody>
            <tbody>
            {{#each component.outPorts}}
            {{#if name}}
                <tr>
                    <td class="text-uppercase">&larr; {{name}}</td>
                    <td>{{description}}</td>
                </tr>
            {{/if}}
            {{/each}}
            </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="card card-inverse card-info">
                <dl class="dl-horizontal card-blockquote">
                {{#each node.metadata}}
                    {{#if prototype}}
                        <dt>{{@key}}</dt><dd>{{toString}}</dd>
                    {{else}}
                        <dt>{{@key}}</dt><dd>{{this}}</dd>
                    {{/if}}
                {{/each}}
                </dl>
            </div>
        </div>
    </div>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Source Node</th>
            <th class="text-xs-center">Source Port</th>
            <th></th>
            <th class="text-xs-center">Destination Port</th>
            <th>Destination Node</th>
        </tr>
    </thead>
    <tbody>
    {{#each initializers}}
        <tr>
            <td colspan="2" class="text-warning">{{from.data}}</td>
            <td>&rarr;</td>
            <td class="text-xs-center text-uppercase">{{to.port}}</td>
            <td><a href="../{{to.node}}">{{to.node}}</a></td>
        </tr>
    {{/each}}
    </tbody>
    <tbody>
    {{#each from}}
        <tr>
            <td><a href="../{{from.node}}">{{from.node}}</a></td>
            <td class="text-xs-center text-uppercase">{{from.port}}</td>
            <td>&rarr;</td>
            <td class="text-xs-center text-uppercase">{{to.port}}</td>
            <td><a href="../{{to.node}}">{{to.node}}</a></td>
        </tr>
    {{/each}}
    </tbody>
    <tbody>
    {{#each to}}
        <tr>
            <td><a href="../{{from.node}}">{{from.node}}</a></td>
            <td class="text-xs-center text-uppercase">{{from.port}}</td>
            <td>&rarr;</td>
            <td class="text-xs-center text-uppercase">{{to.port}}</td>
            <td><a href="../{{to.node}}">{{to.node}}</a></td>
        </tr>
    {{/each}}
    </tbody>
    </table>
    {{#if facade}}
    <div id="vnis" role="tablist">
        {{#each facade.vnis}}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#vnis" href="#vni-{{vnid}}">
                        {{#if vnid}}{{vnid}}{{else}}Default VNI{{/if}}
                    </a>
                </h4>
            </div>
            <div id="vni-{{vnid}}" class="panel-collapse collapse" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <pre class="text-success pre-scrollable">{{toJSON outputState}}</pre>
                    </div>
                    <div class="col-md-6">
                        <pre class="text-danger pre-scrollable">{{toJSON errorState}}</pre>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
<script type="text/javascript">
$('.collapse').collapse('show');
</script>
</body>
</html>
