<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{node.metadata.label}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="?data&amp;vnid={{vnid}}" />
    <link href="?output&amp;vnid={{vnid}}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/rdf-pipeline.css" />
</head>
<body>
<div class="container">
     <p><i class="fa fa-3x pull-left fa-border fa-{{component.icon}}" aria-hidden="true"></i></p>
    <a href="{{path}}{{search}}" class="pipeline-back pull-right btn btn-link btn-small">Back to listing</a>
    <h1>{{node.metadata.label}}</h1>
    <h2 class="text-muted">{{node.component}}</h2>
    {{#if component.description}}
        <hr/>
            <p class="description">{{component.description}}</p>
    {{/if}}
    <hr/>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm">
            <thead>
                <tr class="port-header table-info">
                    <th>IN Port</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {{#each component.inPorts}}
            {{#if name}}
                <tr>
                    <td class="text-uppercase">{{name}}</td>
                    <td>{{description}}</td>
                </tr>
            {{/if}}
            {{/each}}
            </tbody>
            <thead>
                <tr class="port-header table-info">
                    <th>OUT Port</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {{#each component.outPorts}}
            {{#if name}}
                <tr>
                    <td class="text-uppercase">{{name}}</td>
                    <td>{{description}}</td>
                </tr>
            {{/if}}
            {{/each}}
            </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="metrics-card card">
                <dl class="dl-horizontal card-blockquote">
                {{#each node.profile}}
                     <div class="metric"><dt>{{metricName}}:</dt><dd>{{metricValue}}</dd></div>
                     {{#if metricDetails}}
                         {{#each metricDetails}}
                             <div class="metric-details"><dt class="metric-detail-label">{{@key}}:</dt><dd>{{this}}</dd></div>
                         {{/each}}
                     {{/if}}
                {{/each}}
                </dl>
            </div>
        </div>
    </div>
    <table class="table table-hover">
    {{#if initializers}}
    <thead>
        <tr class="iip">
            <th colspan="2">IIP Data</th>
            <th></th>
            <th class="text-xs-center">Destination Port</th>
            <th>Destination Node</th>
        </tr>
    </thead>
    {{/if}}
    <tbody>
    {{#each initializers}}
        <tr>
            <td colspan="2" class="iip">{{from.data}}</td>
            <td>&rarr;</td>
            <td class="text-xs-center text-uppercase">{{to.port}}</td>
            <td><a href="{{../path}}{{encodeURI to.node}}{{../search}}">{{to.node}}</a></td>
        </tr>
    {{/each}}
    </tbody>
    {{#if from}}
    <thead>
        <tr class="spacing"></tr>
        <tr class="input-header">
            <th>Source Node</th>
            <th class="text-xs-center">Source Port</th>
            <th></th>
            <th class="text-xs-center">Destination Port</th>
            <th>Destination Node</th>
        </tr>
    </thead>
    {{/if}}
    <tbody>
    {{#each from}}
        <tr>
            <td><a class="component-name" href="{{../path}}{{encodeURI from.node}}{{../search}}">{{from.node}}</a></td>
            <td class="text-xs-center text-uppercase">{{from.port}}</td>
            <td>&rarr;</td>
            <td class="text-xs-center text-uppercase">{{to.port}}</td>
            <td><a class="component-name" href="{{../path}}{{encodeURI to.node}}{{../search}}">{{to.node}}</a></td>
        </tr>
    {{/each}}
    </tbody>
    {{#if to}}
    <thead>
        <tr class="spacing"></tr>
        <tr class="output-header">
            <th>Source Node</th>
            <th class="text-xs-center">Source Port</th>
            <th></th>
            <th class="text-xs-center">Destination Port</th>
            <th>Destination Node</th>
        </tr>
    </thead>
    {{/if}}
    <tbody>
    {{#each to}}
        <tr>
            <td><a class="component-name" href="{{../path}}{{encodeURI from.node}}{{../search}}">{{from.node}}</a></td>
            <td class="text-xs-center text-uppercase">{{from.port}}</td>
            <td>&rarr;</td>
            <td class="text-xs-center text-uppercase">{{to.port}}</td>
            <td><a class="component-name" href="{{../path}}{{encodeURI to.node}}{{../search}}">{{to.node}}</a></td>
        </tr>
    {{/each}}
    </tbody>
    </table>
    {{#if vnis}}
    {{#each vnis}}
    <div class="pipeline-card card-group">
        <div class="card card-block">
            <h4 class="card-title">
                <a href="?view&amp;vnid={{@key}}">
                    {{#if @key}}{{@key}}{{else}}Default VNI{{/if}}
                </a>
            </h4>
            <pre class="text-success pre-scrollable">{{toJSON outputState}}</pre>
        </div>
        <div class="card card-block">
            <pre class="text-danger pre-scrollable">{{toJSON errorState}}</pre>
        </div>
    </div>
    <br />
    {{/each}}
    <a href="{{path}}{{encodeURI node.id}}?view">Show all VNIs</a>
    {{else}}
    <p>No state data (not an RDF Pipeline node)</p>
    {{/if}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
</body>
</html>
